body
{
  font-family: 'Roboto', sans-serif;
}

#app-header
{
  background-color: #edecec;
  text-align: center;
  border-bottom: 2px solid #ce8d0a;
}
#app-main
{
  width: 70%;
  margin: auto;
}
h2
{
  color: #ce8d0a;
}

h3
{
  font-style: italic;
}
#app-footer
{
  text-align: center;
  border-top: 2px solid #ce8d0a;
}

.avatar
{
  width: 300px;
}