/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --dark: black;
  --dark-variant: #030821;
  --dark-light: #333;
  --dark-lighter: #616161;
  --light: white;
}

body
{
  font-family: 'Poppins', sans-serif
}

a
{
  text-decoration: none;
  color: var(--dark-lighter);
}

a:hover
{
  color: white !important;
}

/* #endregion Common */

/* #region debug */

.debug .top
{
  background-color: paleturquoise;
}

.debug footer
{
  background-color: palegoldenrod;
}

.debug .sidebar
{
  background-color: black;
}

.debug .content
{
  background-color: palevioletred;
}

.debug .sidebar_bottom
{
  background-color: red;
}

.debug [class^="col-"]
{
  background-color: aqua;
  height: 300px;
  border: 1px dashed;
}

/* #endregion debug */

/* Utilities */

.direction-column
{
  flex-direction: column;
}


/* #region Layout */

.top
{

  height: calc(100vh - 70px);
  display: flex;
}

.bottom
{
  height: 70px;
  background-color: var(--dark-light);
}

/* #endregion Layout */
/* #region Sidebar */
.sidebar
{
  width: 70px;
  overflow: hidden;
  color: white;
  background-color: var(--dark);
}

.sidebar > .sidebar_top
{
  height: calc(100% - 60px);
}

/* Logo */
.sidebar_top .logo
{
  padding: 1rem;
}

.logo .desktop
{
  display: none;
}

/* Main Menu */
.sidebar_top .main-menu a
{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-left: 4px solid transparent;
  padding: .5rem 0.75rem;
}

.sidebar_top .main-menu a.active
{
  border-left: 4px solid palegreen;
}

.sidebar_top .main-menu img
{
  width: 28px;
}

.sidebar_top .main-menu span
{
  display: none;
}

/* Playlists */
.sidebar_top .playlists
{
  padding: 1rem;
  color: gray;
  display: none;
}

.playlists h3
{
  color: white;
  text-transform: uppercase;
}

.playlists .add
{
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add .icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  color: white;
  background-color: gray;
}

.playlists ul
{
  list-style-type: none;
  line-height: 1.5rem;
}

/* Sidebar Bottom */
.sidebar .sidebar_bottom
{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_bottom hr
{
  border-color: var(--dark-light);
  margin-top: .5rem;
  margin-bottom: .75rem;
  width: 100%;
}

.sidebar_bottom .download,
.sidebar_bottom .profile
{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar_bottom .profile_image
{
  display: flex;
  width: 2rem;
  aspect-ratio: 1;
  background-color: gray;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.download > span,
.profile strong
{
  display: none;
}

/* Content */
.top > .content
{
  width: calc(100% - 70px);
  overflow-y: auto;
  background-color: var(--dark-variant);
}

.banner
{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.526);
  position: sticky;
  top: 0;
  right: 0;
  text-transform: uppercase;
}

.category_nav
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem auto;
}

.category_nav a
{
  text-transform: uppercase;
}

.category_nav a.active::after
{
  content: '';
  display: block;
  height: 4px;
  width: 2rem;
  margin: auto;
  background-color: palegreen;
}

section hgroup
{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section hgroup > h2
{
  color: var(--light);
}

section hgroup > p
{
  color: var(--dark-lighter);
}

.album
{
  color: var(--light);
  text-align: center;
}

.album img
{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.album h5
{
  color: var(--dark-lighter);
}

#for_you .album img
{
  border-radius: 50%;

}

/* Footer */
footer.bottom .current,
footer.bottom .audio
{
  width: 70px;
}

/* #region Layout grid 12 col */
/* .container
{
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.row
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class^="col-"]
{
  padding: 1rem;
}

.col-12
{
  width: 100%;
} */
/* #endregion Responsive */

/* #region Responsive */

@media screen and (min-width: 576px)
{
  /*   .col-sm-6
  {
    width: 50%;
  } */

}

@media screen and (min-width: 768px)
{

  .top > .sidebar
  {
    width: 220px;
  }

  .logo .desktop
  {
    display: inline-block;
  }

  .logo .mobile
  {
    display: none;
  }

  .top .sidebar_bottom
  {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .download > span,
  .profile strong
  {
    display: block;
  }

  .sidebar .playlists
  {
    display: block;
  }

  .top > .content
  {
    width: calc(100% - 220px);
  }

  .top .main-menu span
  {
    display: inline-block;
  }

  footer.bottom .playing,
  footer.bottom .audio
  {
    width: 220px;
  }

  footer.bottom .audio
  {
    text-align: end;
  }

}

@media screen and (min-width: 992px)
{


}

@media screen and (min-width: 1200px)
{}

@media screen and (min-width: 1440px)
{

  .container
  {
    max-width: 1452px;
    margin-right: auto;
  }

}

/* #endregion Responsive */