*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region debug */

.debug .top
{
  background-color: paleturquoise;
}

.debug footer
{
  background-color: palegoldenrod;
}

.debug .sidebar
{
  background-color: black;
}

.debug .content
{
  background-color: palevioletred;
}

.debug .sidebar_bottom
{
  background-color: red;
}

.debug [class^="col-"]
{
  background-color: aqua;
  height: 300px;
  border: 1px dashed;
}

/* #endregion debug */

/* Utilities */
.d-flex
{
  display: flex;
}

.direction-column
{
  flex-direction: column;
}

/* #region Layout */
.top
{
  height: calc(100vh - 70px);
  display: flex;
}

.top > .sidebar
{
  width: 70px;
  overflow: hidden;
}

.top .sidebar_top
{
  height: calc(100% - 60px);
}

.top .sidebar_bottom
{
  height: 60px;
}

.top > .content
{
  width: calc(100% - 70px);
  overflow-y: auto;
}

footer.bottom
{
  height: 70px;
}

/* Layout grid 12 col */
.container
{
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.row
{
  display: flex;
  flex-wrap: wrap;
}

[class^="col-"]
{
  padding: 1rem;
}

.col-12
{
  width: 100%;
}

/* Responsive */



@media screen and (min-width: 576px)
{
  .col-sm-6
  {
    width: 50%;
  }

  .container
  {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px)
{
  .top > .sidebar
  {
    width: 220px;
  }

  .top > .content
  {
    width: calc(100% - 220px);
  }

  .container
  {
    max-width: 720px;
  }

}

@media screen and (min-width: 992px)
{

  .col-md-3
  {
    width: calc(100% / 12 * 3);
  }

  .container
  {
    max-width: 960px;
  }

}

@media screen and (min-width: 1200px)
{

  .col-lg-2
  {
    width: calc(100% / 12 * 2);
  }

  .container
  {
    max-width: 1152px;
  }

}