/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --tb-shadow: #9d9d9d;
  --tb-light: #f7f8f8;
  --tb-ligher: #ffffff;
  --tb-dark: #051930;
  --tb-primary: #46adf0;
  --tb-goals: #9d72e5;
  --tb-recruiting: #64c1a8;
  --tb-mobile: #f29e33;
  --tb-website: #d962a1;
  --tb-sales: #b1c927;
}

body
{
  background-color: var(--tb-light);
  font-family: Arial, Helvetica, sans-serif;
}
/* #endregion Common */

/* #region Header */
#app-header
{
  padding: 0.5rem 2rem;
  height: 60px;
  background-color: var(--tb-ligher);
  box-shadow: 0 0 10px var(--tb-shadow);
}

.logo
{
  height: 100%;
}

.logo_icon
{
  height: 100%;
  vertical-align: middle;
}

.logo_text
{
  font-size: 2.5rem;
  vertical-align: middle;
  color: var(--tb-dark);
}

/* #endregion Header */