/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --tb-shadow: #9d9d9d;
  --tb-light: #f7f8f8;
  --tb-ligher: #ffffff;
  --tb-dark: #051930;
  --tb-primary: #46adf0;
  --tb-goals: #9d72e5;
  --tb-recruiting: #64c1a8;
  --tb-mobile: #f29e33;
  --tb-website: #d962a1;
  --tb-sales: #b1c927;
}

body
{
  background-color: var(--tb-light);
  font-family: Arial, Helvetica, sans-serif;
}
/* #endregion Common */

/* #region Utility Classes */

.container
{
  width: 80%;
  margin: 2rem auto;
}

.pl-3
{
  padding-left: 3rem;
}

.btn
{
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}

.btn-primary
{
  background-color: var(--tb-primary);
  color: var(--tb-ligher);
}

.btn-outline
{
  border: 1px solid var(--tb-shadow);
  color: var(--tb-shadow);
}

.card
{
  background-color: var(--tb-ligher);
  padding: 1rem 0;
  border-radius: 1rem;
}

.card-header
{

  padding-bottom: 1rem;
  border-bottom: 2px solid var(--tb-light);
}

/* #endregion Utility Classes */
/* #region Header */
#app-header
{
  padding: 0.5rem 2rem;
  height: 60px;
  background-color: var(--tb-ligher);
  box-shadow: 0 0 10px var(--tb-shadow);
}

.logo
{
  height: 100%;
}

.logo_icon
{
  height: 100%;
  vertical-align: middle;
}

.logo_text
{
  font-size: 2.5rem;
  vertical-align: middle;
  color: var(--tb-dark);
}

/* #endregion Header */