/* Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{

  --primary: rgba(151, 146, 228, 1);
  --secondary: rgba(0, 133, 252, 1);
  --secondary-light: rgba(0, 133, 252, 0.5);
  --light: rgba(254, 255, 254, 1);
  --dark: rgba(50, 51, 50, 1);

}
p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
section,
.demo
{
  padding: 2rem 0;
}
img {
  max-width: 100%;
}

h2, h3,h4,h5 {
  margin-bottom: 1.5rem;
}
/* Debug */
.debug header
{
  height: 70px;
}

.debug [class^="col_"]
{
  height: 300px;
  border: 1px dashed;
}

.debug .section_heading,
.debug .testimonial
{
  height: 140px;
  background-color: gray;
}

.debug footer
{
  height: 150px;
}

/* #region Utilities */

/* Flex Display */
.d_flex
{
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-end {
  align-items: flex-end;
}

/* Layout */
.container
{
  width: 80%;
  max-width: 1152px;
  margin: auto;
}
.container-sm
{
  width: 60%;
  max-width: 991px;
  margin: auto;
}
.row
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

[class^="col_"]
{
  padding: 0.5rem;
}

.col_12
{
  width: 100%;
}
.w_50 {
  width: 50%;
}
.w-80 {
  width: 80%;
}
/* spacings */
.p-0 {
  padding: 0;
}
.pt-2 {
  padding-top: 2rem;
}
.px-2 {
  padding-left:1rem;
  padding-right: 1rem;
}
.pt-4{
  padding-top: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-4
{
  margin-bottom: 4rem;
}
/* Typography */
.text-start {
  text-align: start!important;
}
.text-center {
  text-align: center;
}
/* buttons */
.btn {
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: 1rem;
  display: inline-block;
}
.btn-light {
  background-color: var(--light);
  color: var(--dark);
}
.btn-primary
{
  background-color: var(--primary);
  color: var(--light);
}
/* Colors */
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary-light);
}
.bg-light
{
  background-color: var(--light);
}

/* Card component */
.card {
  border-radius: 1rem;
  height: 100%;
}

.card .card_text {
    padding: 1rem;
}




/* #endregion Utilities */

/* Header */

#site_header
{
  background-color: var(--secondary);
  height: 70px;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_menu {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.main_menu ul{
  display: none;
}

/* Main */
/* Demo */

.demo .card_text {
  text-align: center;
}
.demo .card_text h3 {
  color: var(--secondary);
  margin: 1rem 0;
}
.demo .phone_image {
  width: 200px;

}
.demo .icon {
  text-align: center;
  color: var(--secondary);
}

/* Planning */

.planning,
.benefits
{
  background-color: var(--primary);
}
.planning .icon {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 1rem 0;
}
/* Testimonials */

.testimonial
{
  margin: 1rem 0;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border-radius: 2rem;
  gap: 1.5rem;
  justify-content: space-around;
}
.avatar {
  padding: 1rem;
}
.testimonial .avatar img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

/* Benefits */


/* About */
.about .avatar {
  position: relative;
}
.about .avatar img {
  border-radius: 50%;
}
.about .avatar .icon {
  position: absolute;
  top: 10%;
  right: 10%;
}
/* Call To Action */

.call_to_action
{
  background-color: var(--primary);
}

/* Site Footer */

#site_footer
{
  background-color: var(--dark);
}



/* #region Responsive Layout */
@media screen and (min-width: 768px)
{

  .col_md_4
  {
    width: calc(100% / 12 * 4);
  }

  .col_md_6
  {
    width: 50%;
  }

  .col_md_8
  {
    width: calc(100% / 12 * 8);
  }

  .main_menu ul {
    list-style: none;
    display: flex;
    column-gap: 1rem;
  }
  .mobile_toggler {
    display: none;
  }


}

@media screen and (min-width: 1200px)
{

  .col_lg_4
  {
    width: calc(100% / 12 * 4);
  }

  .col_lg_6
  {
    width: 50%;
  }

}

/* #endregion Responsive Layout */