/* Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{

  --primary: rgba(151, 146, 228, 1);
  --secondary: rgba(0, 133, 252, 1);
  --secondary-soft: #b5ddff;
  --light: rgba(254, 255, 254, 1);
  --dark: rgba(50, 51, 50, 1);

}

section,
.demo
{
  padding: 2rem 0;
}

a
{
  text-decoration: none;
  padding: 0.5rem 1rem;
}

p
{
  line-height: 1.5rem;
}

img
{
  max-width: 100%;
}

/* Debug */
.debug header
{
  height: 70px;
}

.debug [class^="col_"]
{
  height: 300px;
  border: 1px dashed;
}

.debug .section_heading,
.testimonial
{
  height: 140px;
  background-color: gray;
}

.debug footer
{
  height: 150px;
}

/* #region Utilities */

/* Display */
.d_flex
{
  display: flex;
}

/* Layout */
.container
{
  width: 80%;
  max-width: 1152px;
  margin: auto;
}

.row
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

[class^="col_"]
{
  padding: 0.5rem;
}

.col_12
{
  width: 100%;
}

/* Typography */
.list_unstyled
{
  list-style: none;
}

.text_center
{
  text-align: center;
}

/* buttons */
.btn
{
  background-color: transparent;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;

}

.btn_light
{
  background-color: var(--light);
  color: var(--dark) !important;
}

.btn_secondary
{
  background-color: var(--secondary);
  color: var(--light) !important;
}

/* colors */
.text_ligth
{
  color: var(--light)
}

/* Spacings */
.mb_2
{
  margin-bottom: 2rem;
}

.pb_0
{
  padding-bottom: 0;
}

/* #endregion Utilities */

/* Header */

#site_header
{
  background-color: var(--secondary);
}

#site_header nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.main_menu ul
{
  display: none;
}

.main_menu a
{
  color: var(--light)
}

/* #region Main */

/* Demo */
.demo .card
{
  background-color: var(--secondary-soft);
  height: 100%;
  border-radius: 1rem;

}

.demo h3
{
  color: var(--secondary);
  padding: 1rem 0;
}

.demo .icon
{
  color: var(--secondary)
}

.demo .card_body
{
  padding: 1rem;
}

.demo img
{
  width: 200px;
}

.demo .image_wrapper
{
  display: flex;
  justify-content: center;
  height: 100%;

}

/* Planning */

.planning,
.benefits
{
  background-color: var(--primary);
}

/* Testimonials */

.testimonial
{
  margin: 1rem 0;
}

/* Benefits */

/* Call To Action */

.call_to_action
{
  background-color: var(--primary);
}

/* #endregion Main */
/* Site Footer */

#site_footer
{
  background-color: var(--dark);
}

/* #region Responsive Layout */
@media screen and (min-width: 768px)
{

  .col_md_4
  {
    width: calc(100% / 12 * 4);
  }

  .col_md_6
  {
    width: 50%;
  }

  .col_md_8
  {
    width: calc(100% / 12 * 8);
  }

}

@media screen and (min-width: 1200px)
{

  .col_lg_4
  {
    width: calc(100% / 12 * 4);
  }

  .col_lg_6
  {
    width: 50%;
  }

  .mobile_toggle
  {
    display: none;

  }

  .main_menu ul
  {
    display: flex;
  }

}

/* #endregion Responsive Layout */